<div class="pt-4 px-4 sm:ml-[0px] lg:ml-[260px]">
  <nav class="flex justify-between">
    <h1 class="text-4xl font-semibold">
      {{
        activeTab == "tasks"
          ? "Tasks"
          : activeTab == "members"
          ? "Members"
          : "Chats"
      }}
    </h1>
  </nav>

  <div
    class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
        <a
          [class]="activeTab === 'tasks' ? 'active-tab' : 'inactive-tab'"
          (click)="selectTab('tasks')"
        >
          Tasks
        </a>
      </li>
      <li class="mr-2">
        <a
          [class]="activeTab === 'members' ? 'active-tab' : 'inactive-tab'"
          (click)="selectTab('members')"
        >
          Members
        </a>
      </li>
      <li class="mr-2">
        <a
          [class]="activeTab === 'chats' ? 'active-tab' : 'inactive-tab'"
          (click)="selectTab('chats')"
        >
          Chats
        </a>
      </li>
    </ul>
  </div>

  <main class="mt-3">
    <div *ngIf="activeTab === 'tasks'" class="flex flex-col gap-3">
      <div *ngIf="tasks.length == 0">
        <h1 class="text-4xl">No Task Available</h1>
      </div>
      <div
        class="border rounded-2xl flex flex-col gap-2 px-4 py-2"
        *ngFor="let task of tasks; let i = index"
      >
        <div class="flex items-center gap-2 justify-between">
          <div class="flex items-center gap-2">
            <p class="text-2xl font-semibold">{{ task.taskName }}</p>
            <span
              class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
              >{{ task.status }}</span
            >
            <span
              class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
              >{{ task.priority }}</span
            >
          </div>
          <div
            class="dropdown dropdown-left dropdown-end cursor-pointer"
            *ngIf="task.assignedTo._id == userId"
          >
            <label tabindex="0" class="m-1 text-5xl cursor-pointer">...</label>
            <ul
              tabindex="0"
              class="dropdown-content z-[1] menu p-2 shadow-lg bg-base-100 rounded-box w-52"
            >
              <a
                routerLink="/projects/{{ projectId }}/joined/update/{{
                  task._id
                }}"
              >
                <li
                  class="bg-blue-500 rounded-box p-1 font-semibold text-white"
                >
                  <a>Update Task</a>
                </li>
              </a>
              <li
                (click)="onTaskDelete(task._id)"
                class="bg-red-500 rounded-box p-1 font-semibold text-white mt-2"
              >
                <a>Delete Task</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <p class="truncate text-base">{{ task.description }}</p>
          <div class="flex items-center gap-2">
            <p class="flex gap-1 items-center">
              <img
                class="w-10 h-10 rounded-full"
                src="{{ task.assignedTo.userProfile }}"
                alt="Rounded avatar"
              />
              {{ task.assignedTo.username }}
            </p>
            <p>{{ task.deadline | date }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'members'">
      <!-- Your members content -->
      <div *ngIf="members.length == 0">
        <h1 class="text-4xl">No Members Available</h1>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div
          class="flex gap-4 border rounded-2xl p-4 items-center"
          *ngFor="let user of members"
        >
          <div class="avatar">
            <div
              class="w-14 rounded-full ring ring-blue-700 ring-offset-base-100 ring-offset-2"
            >
              <img
                src="https://firebasestorage.googleapis.com/v0/b/auction-app-dcd79.appspot.com/o/profile-pic-placeholder.png?alt=media&token=925c30e1-3e2f-435c-8396-195295672834"
              />
            </div>
          </div>
          <div class="flex flex-col gap-2 w-[250px]">
            <p class="text-xl font-semibold">Username : {{ user.username }}</p>
            <p class="text-gray-800">Email : {{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab == 'chats'" class="pb-4">
      <div class="max-h-[70vh] overflow-y-scroll p-4" id="scrollingDiv">
        <div>
          <div *ngFor="let chat of allMessages">
            <div
              [ngClass]="{
                'chat-end': user._id == chat.userId._id,
                'chat-start': user._id != chat.userId._id
              }"
              class="chat"
            >
              <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                  <img src="{{ chat.userId.userProfile }}" />
                </div>
              </div>
              <div class="chat-bubble">
                <p class="text-xs">{{ chat.userId.username }}</p>
                {{ chat.message }}
                <p class="text-xs">{{ chat.createdAt | date : "shortTime" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2 absolute bottom-5 w-[78%]">
        <label for="hs-trailing-button-add-on" class="sr-only">Label</label>
        <div class="flex rounded-md shadow-sm">
          <input
            type="text"
            id="hs-trailing-button-add-on"
            name="hs-trailing-button-add-on"
            placeholder="Type Your Message Here..."
            class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
            [(ngModel)]="message"
          />
          <button
            type="button"
            (click)="onSendMessage()"
            class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
          >
            SEND
          </button>
        </div>
      </div>
    </div>
  </main>
</div>

<dialog id="my_modal_2" class="modal">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
    >
      <!-- Modal header -->
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Add Member
        </h3>
        <form method="dialog">
          <button
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          >
            ✕
          </button>
        </form>
      </div>
      <!-- Modal body -->
      <div class="flex flex-col gap-2">
        <div class="flex flex-col">
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Username</label
          >
          <div class="flex">
            <div class="relative w-full">
              <div
                class="absolute inset-y-0 left-0 flex items-center pointer-events-none"
              ></div>
              <input
                type="text"
                id="voice-search"
                [(ngModel)]="searchUsername"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search by Username"
                required
              />
            </div>
            <button
              class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              (click)="onSearch()"
            >
              <svg
                class="w-4 h-4 mr-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                /></svg
              >Search
            </button>
          </div>
        </div>
        <div class="h-[400px] overflow-y-scroll flex flex-col gap-2">
          <div
            class="flex gap-4 border rounded-2xl p-4 items-center"
            *ngFor="let user of searchDataUser"
          >
            <div class="avatar">
              <div
                class="w-24 rounded-full ring ring-blue-700 ring-offset-base-100 ring-offset-2"
              >
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/auction-app-dcd79.appspot.com/o/profile-pic-placeholder.png?alt=media&token=925c30e1-3e2f-435c-8396-195295672834"
                />
              </div>
            </div>
            <div class="flex flex-col gap-2 w-[250px]">
              <p class="text-xl font-semibold">
                Username : {{ user.username }}
              </p>
              <p class="text-gray-800">Email : {{ user.email }}</p>
            </div>
            <form action="dialog">
              <button
                class="btn btn-info ml-14 text-white bg-blue-700 hover:bg-blue-900 border-none justify-end"
                (click)="addMember(user.username)"
              >
                Add to Project
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

<dialog id="my_modal_3" class="modal">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
    >
      <!-- Modal header -->
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Add Task
        </h3>
        <form method="dialog">
          <button
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          >
            ✕
          </button>
        </form>
      </div>
      <!-- Modal body -->
      <form (ngSubmit)="onSubmit()" method="dialog">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Name</label
            >
            <input
              type="text"
              [(ngModel)]="newTask.taskName"
              name="name"
              id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Type product name"
              required=""
            />
          </div>
          <div>
            <label
              for="deadline"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Deadline</label
            >
            <input
              type="date"
              name="deadline"
              id="deadline"
              [(ngModel)]="newTask.deadline"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Product brand"
              required=""
            />
          </div>
          <div>
            <label
              for="priority"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Priority</label
            >
            <select
              id="priority"
              name="priority"
              [(ngModel)]="newTask.priority"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            >
              <option selected="">Select Priority</option>
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>
          </div>
          <div>
            <label
              for="member"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Assign To</label
            >
            <select
              name="username"
              [(ngModel)]="username"
              id="member"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            >
              <option selected="">Select Member</option>
              <option
                *ngFor="let member of project.members"
                value="{{ member.username }}"
              >
                {{ member.username }}
              </option>
            </select>
          </div>
          <div class="sm:col-span-2">
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Description</label
            >
            <textarea
              name="description"
              id="description"
              rows="4"
              [(ngModel)]="newTask.description"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Write product description here"
            ></textarea>
          </div>
        </div>
        <button
          type="submit"
          id="defaultModalButton"
          class="text-white inline-flex items-center bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          <svg
            class="mr-1 -ml-1 w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Add new task
        </button>
      </form>
    </div>
  </div>
</dialog>
